@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost:wght@300&family=Poppins:ital,wght@1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#d47447, #85c965);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80 px rgba(0, 0, 0, 0.15);
}
.container .card:hover
{
    height: 400px;
}
.container .card .imgBx
{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 20px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover .imgBx
{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.container .card .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content
{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.container .card:hover .content
{
    top: 130px;
    height: 250px;
}
.container .card .content h2
{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
}
.container .card .content p
{
    color: #333;
}
.container .card .content a
{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

.footer {
    position:fixed;
    bottom:0;
    margin: auto;
    width:100%;
    height: 90px;
    justify-content: center;
    left: 50%;
}